.container-fluid{
   
    background-color: rgb(61, 61, 155);
    border-radius: 5px;
}
body{
     background-image: linear-gradient(to right red,black);
}
h4{
    color: turquoise;
    position: relative;
    top: 20px;
}
ul{
    position:relative;
    bottom: 20px;
    right: 5%;
}
 li a{
     text-decoration: none;
     background-color: rgb(0, 0, 248);
     padding:8px;
     border-radius: 5px;
    
    
}
ul li{
    padding: 10px;
}
 ul li a:hover{
    background-color: turquoise;
    color:black;
 }
 
 .form{
     width:25%;
     position: relative;
     left: 30%;
 }
 .form-control{
     width:400px;
 }
 button{
     width: 100px;
     position:relative;
     left: 250px
 }
 
