.container-fluid{
   
    background-color: rgb(61, 61, 155);
    border-radius: 5px;
}
body{
     background-image: linear-gradient(to right red,black);
}
h4{
    color: turquoise;
    position: relative;
    top: 20px;
}
ul{
    position:relative;
    bottom: 20px;
    right: 5%;
}
 li a{
     text-decoration: none;
     background-color: rgb(0, 0, 248);
     padding:8px;
     border-radius: 5px;    
}
ul li{
    padding: 10px;
}
 ul li a:hover{
    background-color: turquoise;
    color:black;
 }
 
 .form{
     width:25%;
     position: relative;
     left: 30%;
 }
 .form-control{
     width:400px;
 }
 .btn-success{
     width: 100px;
     position:relative;
     left: 200px
 }
.flex-column{
       
       position:relative;
       left:10px;
 }
 .nav-item
{
    height: 20px;
} 
.mt-2
{
    width:220px;
    position:relative;
    right: 42%;   
}
img{
    width: 80px;
    height:80px;
    position: relative;
    bottom: 63px;
}
.bg-light
{
    position:relative;
    left: 110px;
    bottom: 45vh;
}
.text-end
{
    position:relative;
    right: 105px;
}
#table{
    position:relative;
    left: 112px;
    bottom: 50vh;
}
td{
    text-align: center;
    background-color: aqua;
}

